/* Reasonable defaults */
body {
    letter-spacing: .2em;
    line-height: 2.2em;
    /*padding: 2em;*/
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

h1 { font-size: 3em; margin-bottom: 0.3em }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

/*p {
  line-height: 1.4em;
  margin-bottom: 1em;
}*/

/*a {
  color: #2694f5;
  text-decoration: none;
}*/


.container {
  background-color: #3498DB;
  padding: 5%;
  border-radius: .8em;
  max-width: 300px;
  position: relative;
  margin: auto;
  margin-top: 3em;
}

input, textarea, select {
  /*padding:10px;*/
  font-size:20px;
  /*text-align:left;*/
  /*border-width:0px;*/
  border-radius:4px;
  color: black;
  }

  input {
    width: 250px;
    overflow: hidden;
    padding: 0.5em;
    margin: .5em;
    margin-top: 1em;
    margin-bottom: 0;
    border: 1px solid #999;
  }

  button, input, select, textarea {
    font-size: inherit;
    outline: none;
  }

  button {
    padding: .6em 1em;
    background: #2C3E50;
    color: white;
    border: 0;
    margin: .2em;
    border: 1px solid #22313F;
    border-radius: .5em;
    }


  select {
      color:#2c3e50;
    }

  textarea {
    max-width: 210px;
  }

input:focus { outline:none; }


/*input::-webkit-input-placeholder {
  color: #2c3e50;
}

textarea::-webkit-input-placeholder {
  color: #2c3e50;
}*/
